<html>
    <head>
        <title>Simple Weather App</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/af.js"></script>
        
        <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
        <script src="js/main.js"></script>

        <link rel="stylesheet" href="css/custom.css"> 
        <link rel="stylesheet" href="css/flat.css"> 
    </head>
    <body class="forecast">