<div id="">
  <form id="searchForm" method="POST" action="/weather/details">
    <a class="currentLocationButton" href="javascript:;">
      <img width="16" height="16" src="/images/current-location.png">
      </a>

      <input type="text" name="location" placeholder="Enter Location" value="">
      <input type="date" name="date" placeholder="Enter Location" value="">
      <a class="searchButton" href="javascript:submitForm();">
      <img width="16" height="16" src="/images/search.png">
    </a>
  </form>
</div>
