<% include partials/header %>
<% include partials/navbar %>
<% include partials/searchbar %>

<% if (fc != undefined) { %>
<div class="container theme-showcase" role="main">
    <div class="jumbotron drizzle">
        <div class="center">
            <div id="title">
            <span class="currently">
                <span class="desc swap">
                    <span class="temp swap"><%= cur_loc %>: </span>
                    <span class="temp swap"><%= fc.currently.temperature %>˚</span>
                    <span class="summary swap"><%= fc.currently.summary %></span>
                </span>
            </span>

            <span class="next swap">
                    <span class="summary swap"><%= fc.daily.summary %></span>
            </span>
            </div>
        </div>
    </div>
</div>
<div class="container theme-showcase" role="main">  
        <div class="row">
        <div class="col-lg-8">
            <h2 class="blockquote-header">Daily Forecast</h2>
            <div class="bs-component">
            <% if(fc.daily.data.length > 0) { %>
                <% fc.daily.data.forEach(function(data) { %>
                    <% var date = moment.unix(data.time); %>
                    <blockquote>
                    <p><%= date %></p>
                    <small><%= data.summary %><cite title="Source Title"></cite></small>
                    <small>Min: <%= data.temperatureMin %>˚<cite title="Source Title"> Max: <%= data.temperatureMax %>˚</cite></small>
                    </blockquote>
                <% }) %>
            <% } %>
            </div>
        </div>
            <div class="col-lg-4">
                <h2 class="blockquote-reverse-header">Search History</h2>
                <div class="bs-component">
                    <% if(searhed_history.length > 0) {%>
                    <% searhed_history.forEach(function(searhed_history) { %>
                    <blockquote class="blockquote-reverse">
                    <small><%= searhed_history.address %></small>
                    <cite title="Source Title"><%= searhed_history.temperature %>˚</cite>
                    </blockquote>
                    <% }) %>
                    <blockquote class="blockquote-reverse">
                    <small><a class="clearHistory" href="">Clear History</a></small>
                    </blockquote>
                    
                    <% } else { %>
                    <blockquote class="blockquote-reverse">
                    <small>No Search History</small>
                    </blockquote>
                        <p></p>
                    <% } %>             
                    
                </div>
            </div>
        </div>
</div>
    
<% include partials/chart-area %>
<% } %>

<% include partials/footer %>