.center {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

body.forecast #title {
  /*font-size: 24px;*/
  font-size: 32px;
  /*font-weight: 800;*/
  font-weight: 400;
  text-align: center;
  /*margin: 26px 0 12px 0;*/
  margin: 12px 15px;
}

body.forecast.reversed #title .currently {
  display: block;
}

body.forecast #title span {
  vertical-align: top;
  display: inline-block;
}

body.forecast #title .skycon {
  display: inline-block;
  margin: 3px 6px;
}

body.forecast #title .currently .desc,
body.forecast #title .next {
  position: relative;
  top: 7px;
  line-height: 1.3em;
  margin-bottom: 15px;
}

body.forecast #title .currently .desc.swap {
  font-weight: 600;
}
body.forecast #title .next.swap {
  position: relative;
  top: 0px;
  display: block;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 6px;
}

body.forecast.reversed #title .next {margin-right: 6px;}
body.forecast.reversed #title .skycon {margin-left: 4px;}
body.forecast.reversed #title .currently .desc .temp {margin-left: 4px;}

body.forecast #week {
  padding: 0 7px;
}

body.day .dayDetails #summary {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin: 20px 5px 30px;
}

body.forecast #week > .summary {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin: 24px 10px;
  line-height: 1.5em;
}

body.forecast .dayDetails .summary_container {
  text-align: center;
}

body.forecast .dayDetails .summary {
  font-size: 20px;
  margin-bottom: 12px;
}

body.forecast #week > .summary {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin: 24px 10px;
  line-height: 1.5em;
}

body.forecast #week .description {
  max-width: 480px;
  margin: 10px auto 0;
  text-align: center;
}

#searchForm {
  position: relative;
  width: 46%; /*540px*/
  /* height: 100%; */
  margin: 0 auto;
  white-space: nowrap;
}
#searchForm input {
  display: inline-block;
  width: 45%; /* 450px */
  height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* border: 0; */
  font-size: 18px;
  padding: 5px;
  margin: 7px 15px;
  text-align: center;
}

#searchForm #savedLocations {
  display: none;
  position: absolute;
  top: 40px;
  left: 45px;
  z-index: 99;
  width: 450px;
  background-color: #FFF;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

#searchForm #savedLocations > .inner {
  margin: 25px 20px;
  overflow: hidden;
}

#searchForm #savedLocations a {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  text-overflow: ellipsis;
}

#searchForm #savedLocations a:hover { text-decoration: underline;}

#searchForm #savedLocations.visible {opacity: 0.99;}

#header .options {
  position: absolute;
  right: 0;
  top: 6px;
}

.blockquote-reverse-header {
  padding-right: 0;
  padding-left: 0;
  border-left: 0;
  text-align: center;
}

.blockquote-header {
  padding-right: 0;
  padding-left: 0;
  border-left: 0;
  text-align: left;
}